.icon-wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background: var(--base-input, #e5e5e5);
	border-radius: var(--border-radius-rounded-sm, 6px);
}

.icon {
	background: var(--alpha-60, rgb(255 255 255 / 40%));
	border: 1px solid var(--base-muted-foreground, #737373);
	border-radius: var(--border-radius-rounded-xs, 2px);
}
